body{
  margin: 0;
  font-family: "Ek Mukta";
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-flow: row;

  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  opacity: 25%;
  box-shadow: 0 1px 5px 0 #DDDDDD;
}
.nav-item {
  margin: 15px 20px;
}
.fsmk-logo-home {
  color: #487fff;
  width: 56px;
  height: 56px;
  padding-top: 3px;
}
.nav-item-EN {
  font-size: 1.25em;
  color: #487fff;
}
.nav-item-KA {
  font-size: 1em;
  color: #666666;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.hero-fsmk-logo {
  order: 1;
  margin-top: 200px;
}
.hero-fsmk-logotype {
  order: 2;
  font-size: 2.5em;
  padding: 50px;
}
.fsmk-logo-hero {
  color:#333333;
}
.hero-CTA {
  order: 4;
  margin: 50px auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  background-color: #487fff;
  padding: 10px 25px;
  border-radius : 5px;
  box-shadow: 0 1px 5px 0 #DDDDDD;
}
hr {
  color: #DDDDDD;
  margin: 100px auto;
}

.fsmk-philosophy {
  order: 3;
  margin: auto 35%;
  font-size: 1.25em;
}
